# imobiliária Aluga Rápido

### importação de bibliotecas e funções

In [ ]:
import pandas as pd;
import numpy as np;
from numpy import nan;
from pandas import read_csv, to_numeric

In [ ]:
url="dataset/aluguel.csv";
read_csv(url,sep=';')

# Variável para guardar o dataset

In [ ]:
dados = read_csv(url,sep=';');
dados

In [ ]:
print(type(url));
print(type(dados));

# Substituindo NaN (not a Number) com 0
## Função head para apresentar as 20 primeiras linhas e tails para mostrar as 10 últimas

In [ ]:
dados = dados.replace(nan, 0);
dados.head(20)

In [ ]:

dados.tail(10)

In [60]:
print(type(dados));
type(dados)

<class 'pandas.core.frame.DataFrame'>

pandas.core.frame.DataFrame

In [ ]:
#codigo que estava fazendo solo

import pandas as pd
import numpy as np
from numpy import nan
from pandas import read_csv, to_numeric



# dataset = read_csv("C:/Users/ead/Documents/.henrique/Senai-dataset-Inovatech/datascience/dataset/aluguel.csv", delimiter=';')
dataset = dataset.replace(nan, 0)

# dataset['Quartos']=to_numeric(dataset['Quartos'])
# dataset['Vagas']=to_numeric(dataset['quartos'])

# print(dataset)

url = "C:/Users/ead/Documents/.henrique/Senai-dataset-Inovatech/datascience/dataset/aluguel.csv"
read_csv(url,sep=';')