In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
df = pd.read_excel('C:/Users/ead/Documents/.henrique/Senai-DF-Inovatech/peojetpesoal/heart_attack_dataset.csv')
engine = create_engine('mysql://username:password@host/database')
Use the to_sql() function to write the DataFrame to the MySQL database
df.to_sql(name='table_name', con=engine, if_exists='append', index=False)

SyntaxError: invalid syntax (3330575228.py, line 3)