In [ ]:
! pip install pandas
! pip install SQLAlchemy
! pip install pymysql

In [ ]:
# import pymysql
# import urllib.parse
# # definir as credenciais
# user = 'root'
# password = urllib.parse.quote_plus('senai@123')
# host  = 'localhost'
# database = 'projetodiario1'
# # criar uma url de conexão
# connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# # criar a conexão com o create_engine()
# engine = create_engine(connection_string)
# # escrever uma consulta SQL
# query_alunos = "SELECT * FROM aluno"
# # criar o dataframe
# df_alunos = pd.read_sql(query_alunos,engine)
# # mostrar os cinco primeiros
# df_alunos.head()

In [ ]:
import pymysql
import urllib.parse
import sqlalchemy as sa
import pandas as pd

import pymysql
import urllib.parse
# definir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host  = 'localhost'
database = 'schooltracker'
# criar uma url de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros
df_alunos.head()

## Qauis são as bibliotecas que o cientista de dados utiliza
- Pandas: ciencia de dados
- NumPy: matemátiva
- Fundamentos de IA (Scikit-Learn): elaboração de modelos de ia

## Como o cientista de dados organiza e manipula dados

- Importar bibliotecas
- Carregar dados
- Explorar dados
- Preparar dados
- Modelar dados

### Como o cientista de dados gera insights

- Análise de dados
- Exploração de dados
- Visualização de dados
- Interpretando dados
- Comunicando insights

### Como o cientista de dados cria modelos

- Definindo o objetivo
- Escolhendo a técnica
- Treinando o modelo
- Avaliando o modelo
- Usando o modelo

### Como o cientista de dados interpreta os resultados

- Interpretando resultados
- Comunicando resultados
- Relacionando resultados
- Atualizando insights

In [ ]:
df_alunos.to_csv('alunos.csv',index=False,)

In [ ]:
print(df_alunos)

In [ ]:
df_alunos.to_json('alunos2.json',index=True,)

In [ ]:
! pip install openpyxl

In [ ]:
xlsx_filename='alunos3.xlsx'
df_alunos.to_excel(xlsx_filename,index=False)

In [ ]:
df_alunos.columns

In [ ]:

df_tempo_renda=df_tempo_renda=df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda[0:]

In [ ]:
# tipos
print(type(df_tempo_renda))

In [ ]:
# exercicio: crie um recurso para mostrar apenas uma coluna, mostra qual o tipo desse recurso
serie_tempo_renda=df_tempo_renda['rendafamiliar']
type(serie_tempo_renda)

### 06/08 Revisando funções básicas

In [ ]:
# retorne o datafreame da ultima aula com as duas primeiras loinhaas com po amostras
df_tempo_renda[:2]

In [ ]:
# retorne as ultimas 2
df_tempo_renda.tail(2)

In [ ]:
# retorne uma tupla com o número de linha e colunas
df_tempo_renda.shape

In [ ]:
# retorne as iformações gerais do dataframe

df_tempo_renda.info()

In [ ]:
qtde=len(df_tempo_renda)
if qtde<=76:
    print(f"quantidade: {qtde}")

In [ ]:
df_tempo_renda['rendafamiliar'].info()

In [ ]:
df_alunos.dtypes

In [ ]:
df_alunos.describe()

In [ ]:
query_diariobordo = "SELECT * FROM diariobordo"
df_diariobordo = pd.read_sql(query_diariobordo,engine)
print(df_diariobordo)

In [ ]:
# escrever uma consulta SQL
query_diariobordo = "SELECT * FROM diariobordo"
query_avaliacao = "SELECT * FROM avaliacao"
# criar o dataframe
df_avaliacao = pd.read_sql(query_avaliacao,engine)
df_diariobordo = pd.read_sql(query_alunos,engine)
# mostrar
print(df_diariobordo)
print(df_avaliacao)

In [ ]:
# fazer funções
df_avaliacao.dtypes
df_diariobordo.describe()
df_avaliacao.shape

# Vamos fazer um join?

### pasos para o merge
- use o comando merge
- criar uma variavel resultado
- ``` pd.merge(df_diariobordo, df aluno, tipo_uniao, {qual chave da esquerda}, {qual a chave da direita})``` - queremos unir
- qual o tipo de união: how='inner'
- inner significa que queremos um join interno, o que resulta em apenas as linhas que tem correspondência em ambos os DataFrame

In [ ]:
# realizando o join
resultado = pd.merge(df_diariobordo,df_alunos, how='left', left_on='fk_Aluno_id', right_on='id')

# selecionar as partes desejadas
resultado_selecionado = resultado [['texto','datahora','ra']]

# Mostrar o resultado
resultado_selecionado.head()

In [ ]:
df_avaliacao

In [ ]:
# realizando o join
desafio = pd.merge(df_avaliacao,df_alunos, how='left', left_on='fk_Aluno_id', right_on='id')

# selecionar as partes desejadas
desafio_selecionado = resultado [['nota1','ra']]


# Mostrar o resultado
desafio_selecionado.head()

In [202]:
desafio=pd.merge(df_avaliacao,df_alunos,how='left', left_on='fk_Aluno_id', right_on='id')

desafio_selecionado = desafio[['nota1','nota2','nota3','nota4','ra']]

desafio_selecionado.head()

   nota1  nota2  nota3  nota4        ra
0     14     21     24     12  00176143
1     17     20      8      9   0034543
2     19      1      4      7   0034545
3     18     17     16     14   0034548
4     17     22     15     14   0034557

#### faça um join no pandas similar a como vc fez no sql
mostrando o dataframe diario de bordo

In [ ]:
len(df_diariobordo)

In [ ]:
len(df_alunos)