In [ ]:
! pip install pandas
! pip install SQLAlchemy
! pip install pymysql

In [ ]:
import pymysql
import urllib.parse
# definir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host  = 'localhost'
database = 'projetodiario1'
# criar uma url de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros
df_alunos.head()

In [ ]:
import pymysql
import urllib.parse
import sqlalchemy as sa
from sqlalchemy import create_engine
import pandas as pd

import pymysql
import urllib.parse
# definir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host  = 'localhost'
database = 'schooltracker'
# criar uma url de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros
df_alunos.head()

In [37]:
import pymysql
import urllib.parse
import sqlalchemy as sa
import pandas as pd

import pymysql
import urllib.parse
# definir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host  = 'localhost'
database = 'schooltracker'
# criar uma url de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros
df_alunos.head()

   id       ra  nome  tempoestudo  rendafamiliar
0   1  0034541  None            0            NaN
1   2  0034542  None            0            NaN
2   3  0034543  None            0            NaN
3   4  0034544  None            0            NaN
4   5  0034545  None            0            NaN

## Qauis são as bibliotecas que o cientista de dados utiliza
- Pandas: ciencia de dados
- NumPy: matemátiva
- Fundamentos de IA (Scikit-Learn): elaboração de modelos de ia

## Como o cientista de dados organiza e manipula dados

- Importar bibliotecas
- Carregar dados
- Explorar dados
- Preparar dados
- Modelar dados

### Como o cientista de dados gera insights

- Análise de dados
- Exploração de dados
- Visualização de dados
- Interpretando dados
- Comunicando insights

### Como o cientista de dados cria modelos

- Definindo o objetivo
- Escolhendo a técnica
- Treinando o modelo
- Avaliando o modelo
- Usando o modelo

### Como o cientista de dados interpreta os resultados

- Interpretando resultados
- Comunicando resultados
- Relacionando resultados
- Atualizando insights

In [19]:
df_alunos.to_csv('alunos.csv',index=False,)

In [ ]:
print(df_alunos)

In [21]:
df_alunos.to_json('alunos2.json',index=True,)

In [23]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [24]:
xlsx_filename='alunos3.xlsx'
df_alunos.to_excel(xlsx_filename,index=False)

In [25]:
df_alunos.columns

Index(['id', 'ra', 'nome', 'tempoestudo', 'rendafamiliar'], dtype='object')

In [32]:

df_tempo_renda=df_tempo_renda=df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda[0:]

     tempoestudo  rendafamiliar
0              0            NaN
1              0            NaN
2              0            NaN
3              0            NaN
4              0            NaN
..           ...            ...
96             8         3600.8
97             5         2500.9
98             4         2300.0
99             6         2900.1
100            7         3200.2

[101 rows x 2 columns]

In [33]:
# tipos
print(type(df_tempo_renda))

<class 'pandas.core.frame.DataFrame'>

In [41]:
# exercicio: crie um recurso para mostrar apenas uma coluna, mostra qual o tipo desse recurso
serie_tempo_renda=df_tempo_renda['rendafamiliar']
type(serie_tempo_renda)

pandas.core.series.Series